<div class="containerFooter">
    <div class="clickAble">
      <div class="smallScreen">
        <h3>
          About Us
        </h3>
        <span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="32px" height="32px">
          <g>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37,63 37,1 18,1  "/>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="46,54 37,63   28,54 "/>
          </svg>
        </span>
      </div>
      <ul class="containerulFooter">
          <li class="primaryLi">
              About Us
          </li>
          <li class="normal">
              <a href="">
                  Our Company
              </a> 
          </li>
              <li class="normal">
                  <a href="">
                      Our Coffee
                  </a> 

              </li>
          <li class="normal">
              <a href="">
                  Stories and News
              </a>  

          </li>
          <li class="normal">

              <a href="">
                  Starbucks Archive
              </a> 
          </li>
          <li class="normal">
              <a href="">
                  Investor Relations
              </a> 

          </li>
          <li class="normal">
              <a href="">
                  Customer Service
              </a> 
          </li>

      </ul>
    </div>
    <div class="clickAble">
      <div class="smallScreen">
        <h3>
          Careers
        </h3>
        <span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="32px" height="32px">
            <g>
              <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37,63 37,1 18,1  "/>
            </g>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="46,54 37,63   28,54 "/>
          </svg>
        </span>
      </div>
      <ul class="containerulFooter">
          <li class="primaryLi">
              Careers
          </li>
          <li class="normal">
              <a href="">
                  Culture and Values

              </a> 
          </li>
              <li class="normal">
                  <a href="">
                      Inclusion, Diversity, and Equity
                                      </a> 

              </li>
          <li class="normal">
              <a href="">
                  College Achievement Plan

              </a>  

          </li>
          <li class="normal">

              <a href="">
                  Alumni Community

              </a> 
          </li>
          <li class="normal">
              <a href="">
                  U.S. Careers

              </a> 

          </li>
          <li class="normal">
              <a href="">
                  International Careers

              </a> 
          </li>

      </ul>
    </div>
    <div class="clickAble">
      <div class="smallScreen">
      <h3>
        Social Impact
      </h3>
      <span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="32px" height="32px">
        <g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37,63 37,1 18,1  "/>
        </g>
        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="46,54 37,63   28,54 "/>
        </svg>
      </span>
      </div>
      <ul class="containerulFooter">
        <li class="primaryLi">
            Social Impact

        </li>
        <li class="normal">
            <a href="">
                People
            </a> 
        </li>
            <li class="normal">
                <a href="">
                    Planet
                </a> 

            </li>
        <li class="normal">
            <a href="">
                Environmental and Social
                <br> 
                Impact Reporting

            </a>  

        </li>
        
      </ul>
    </div>
    <div class="clickAble">
      <div class="smallScreen">
        <h3>
          For Business Partners
        </h3>
        <span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="32px" height="32px">
          <g>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37,63 37,1 18,1  "/>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="46,54 37,63   28,54 "/>
          </svg>
        </span>
      </div>
      <ul class="containerulFooter">
          <li class="primaryLi">
              For Business Partners

          </li>
          <li class="normal">
              <a href="">
                  Landlord Support Center

              </a> 
          </li>
              <li class="normal">
                  <a href="">
                      Suppliers
                  </a> 

              </li>
          <li class="normal">
              <a href="">
                  Corporate Gift Card Sales

              </a>  

          </li>
          <li class="normal">

              <a href="">
                  Office and Foodservice Coffee
              </a> 
          </li>
          
      </ul>
    </div>
    <div class="clickAble">
      <div class="smallScreen">
        <h3>
          Order and Pickup
        </h3>
        <span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="32px" height="32px">
          <g>
            <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37,63 37,1 18,1  "/>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="46,54 37,63   28,54 "/>
          </svg>
        </span>
      </div>
      <ul class="containerulFooter">
          <li class="primaryLi">
              Order and Pickup
          </li>
          <li class="normal">
              <a href="">
                  Order on the App

              </a> 
          </li>
              <li class="normal">
                  <a href="">
                      Order on the Web
                  </a> 

              </li>
          <li class="normal">
              <a href="">
                  Delivery
              </a>  

          </li>
          <li class="normal">

              <a href="">
                  Order and Pickup Options
              </a> 
          </li>
          <li class="normal">
              <a href="">
                  Explore and Find Coffee for Home
              </a> 

          </li>

      </ul>
    </div>
    <div class="containerAbout">
        <ul class="ul">
          <li>
            <a href="">
              F
            </a>
          </li>
          <li>
            <a href="">
              T
            </a>
          </li>
          <li>
            <a href="">
              Y
            </a>
          </li>
          <li>
            <a href="">
              G
            </a>
          </li>
          <li>
            <a href="">
              L
            </a>
          </li>
        </ul>
        <ul class="containerItem">
          <li>
            <a href="">
              Privacy Notice 
            </a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="">
              Terms of use
            </a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="">
              Do Not Share My Personal Information
            </a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="">
              CA Supply Chain Act  
            </a>
          </li>
          <li>
            |
          </li>
          <li>
            <a href="">
              Cookie Preferences
            </a>
          </li>
        </ul>
        <div class="containerLastThing">
          <p>
            &copy; 2022 Starbucks Coffee Company. All rights reserved .
          </p>
        </div>
    </div>
</div>