<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/link.ejs") %>
    <title>Document</title>
  </head>
  <body onload="loader()">

    <!-- start menu -->
    <%- include("./partials/MenuBar.ejs") %>
    <!-- end menu -->
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
